body {
    background: #ffffff;
}

.notice {
    margin: 20px;
    border: green 1px solid;
    color: green;
    padding: 30px;
    text-align: center;
    width: 100%;
}

.error {
    margin: 20px;
    border: red 1px solid;
    color: red;
    padding: 30px;
    text-align: center;
    width: 100%;
}

.news-comment {
    padding: 20px;
}

.news-comment:nth-child(2n) {
    background: #f3f9ff;
}

.news-post {
    padding: 20px;
}

.news-post:nth-child(2n) {
    background: #f3f9ff;
}

.news-tags{
    font-size: 12px;
    color: #333333;
}

