{% if category_links is not empty %}
    <h5 class="pt-4">Категории</h5>
    <div>
        <a id="sidebar-all"
           href="{{ path('homepage') }}">Все новости</a>
    </div>
    {% for link in category_links %}

        <div>
            <a id="category-{{ link.id }}"
               href="{{ path('app_filter_news',{'type': 'category', 'id': link.id }) }}">{{ link.title }}</a>
        </div>
    {% endfor %}
{% endif %}


{% if tags_links is not empty %}
    <h5 class="pt-4">Тэги</h5>
    {% for link in tags_links %}

        <div>
            <a id="tags-{{ link.id }}"
               href="{{ path('app_filter_news',{'type': 'tag', 'id': link.id }) }}">#{{ link.title }}</a>
        </div>


    {% endfor %}
{% endif %}
