<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}interactive{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/font-awesome/css/fontawesome-all.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <script src="{{ asset('vendor/jquery/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ asset('vendor/tinymce/tinymce.min.js') }}" type="text/javascript"></script>
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNav">
        <a class="navbar-brand" href="">
            {% if is_granted("ROLE_USER") %}
                {{ app.user.username }}
            {% endif %}
        </a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('homepage') }}">Главная</a>
            </li>
            {% if is_granted("ROLE_USER") %}
                <li class="nav-item">
                    <a id="app_create" class="nav-link" href="{{ path('app_create_news') }}">Создать новость</a>
                </li>
                <li class="nav-item">
                    <a id="app_profile" class="nav-link" href="{{ path('app_show_profile', {'id': app.user.id}) }}">Профиль</a>
                </li>
                <li class="nav-item">
                    <a id="app_logout" class="nav-link" href="{{ path('fos_user_security_logout') }}">Выйти</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a id="app_register" class="nav-link" href="{{ path('fos_user_registration_register') }}">Регистрация</a>
                </li>
                <li class="nav-item">
                    <a id="app_login" class="nav-link" href="{{ path('fos_user_security_login') }}">Войти</a>
                </li>
            {% endif %}

        </ul>
    </div>
</nav>
<div class="container pt-4">
    <div class="row">
        <div class="col mx-auto">
            {% set notices = app.flashes('notice') %}
            {% set errors = app.flashes('error') %}

            {% if notices %}
                {% for message in notices %}
                    <div class="notice">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            {% if errors %}

                {% for message in errors %}
                    <div class="error">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% block content %}{% endblock %}
        </div>
    </div>

</div>


{% block javascripts %}


    <script>
        tinymce.init({
            selector: 'textarea',
            setup: function (editor) {
                editor.getElement().removeAttribute('required');
            },
            theme: 'modern',
            language: 'ru',
            height: 300,
            fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt",
            plugins: [
                'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
                'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
                'save table contextmenu directionality emoticons template paste textcolor'
            ],
            imagetools_toolbar: "rotateleft rotateright | flipv fliph | editimage imageoptions",
            image_advtab: true,
            browser_spellcheck: true,
        });
    </script>
    <script src="{{ asset('vendor/popper/js/popper.min.js') }}"></script>
    <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>


