{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block content %}
    {{ form_start(form) }}

    {{ form_end(form) }}
    {% if is_granted("ROLE_ADMIN") == false %}
        <script>
            document.getElementById("app_news_type_publishDate").remove();
        </script>

    {% endif %}

{% endblock %}