{% extends 'base.html.twig' %}
{% set mnths = ['','января','февраля','марта','апреля','мая','июня','июля','августа','сентября','октября','ноября','декабря'] %}
{% block title %}

{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-2">
        {{ render(controller(
        'App\\Controller\\NavigationController::showSidebarNavigationAction'
        )) }}

    </div>
    <div class="col-10">
        {% for single_news in news %}

            <div class="pb-4 news-post">
                <div>
                    <b>{{ single_news.publishDate|date('d') }} {{ mnths[single_news.publishDate|date("n")] }} {{ single_news.publishDate|date('Y') }}</b>
                </div>
                <div>
                    <b>Автор:</b> <a
                            href="{{ path('app_show_profile', {'id': single_news.author.id}) }}">{{ single_news.author.username }}</a>
                </div>
                <div>
                    <b>Категория: </b>{{ single_news.category }}
                </div>

                <p class="content">
                    {{ single_news.content |  truncate(512) | striptags|raw }}
                    <br>
                <div class="news-tags"> Тэги
                    {% for tag in single_news.tags %}
                        <a href="{{ path('app_filter_news',{'type': 'tag', 'id': tag.id }) }}">#{{ tag }}</a>
                    {% endfor %}
                </div>
                <br>
                <a class="more-info"
                        href="{{ path('app_single_news',{'id': single_news.id}) }}">Подробнее</a>
                </p>
            </div>

        {% endfor %}
        <div class="navigation">
            {{ knp_pagination_render(news) }}
        </div>

    </div>




{% endblock %}