{% extends 'base.html.twig' %}
{% block title %}

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 m-auto">
            <h3>Профайл:</h3>
            <div>
                <b>
                    Имя:
                </b> {{ user.username }}
            </div>
            <div>
                <b>Email:</b> {{ user.email }}
            </div>
            <div>
                <b>Рейтинг:</b> {{ rating }}
            </div>
            <div><br>
                Новости пользователя:
            </div>

            <ol>
                {% for post in user.news %}
                    <li>
                        <a href="{{ path('app_single_news',{'id': post.id  }) }}">{{ post.content | truncate(64) | striptags|raw }}</a>
                    </li>
                {% endfor %}
            </ol>


        </div>
    </div>




{% endblock %}