{% extends 'base.html.twig' %}
{% set mnths = ['','января','февраля','марта','апреля','мая','июня','июля','августа','сентября','октября','ноября','декабря'] %}
{% block title %}

{% endblock %}

{% block content %}
    <div>
    <div>
        <b>{{ single_news.publishDate|date('d') }} {{ mnths[single_news.publishDate|date("n")] }} {{ single_news.publishDate|date('Y') }}</b>
    </div>
    <div>
        <b>Автор:</b> <a
                href="{{ path('app_show_profile', {'id': single_news.author.id}) }}">{{ single_news.author.username }}</a>
    </div>
    <div>
        <b>Категория: </b>{{ single_news.category }}
    </div>
    <p>
        {{ single_news.content | raw }}
    </p>
    <div class="news-tags"> Тэги
        {% for tag in single_news.tags %}
            <a href="{{ path('app_filter_news',{'type': 'tag', 'id': tag.id }) }}">#{{ tag }}</a>
        {% endfor %}
    </div>

    {% if is_granted("ROLE_USER") %}
        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        </script>
        <div class="row">
            <div class="col-md-12">
                <div class="pt-2">
                    <a id="like-button" class="btn btn-success"
                       href="{{ path('app_rate_post',{'id': single_news.id, 'type' : "like", 'rating' : '1'}) }}"
                       data-toggle="tooltip" data-placement="top" title="Доволен"><i class="far fa-thumbs-up"></i></a>
                    <a id="unlike-button" class="btn btn-danger"
                       href="{{ path('app_rate_post',{'id': single_news.id, 'type' : "like", 'rating' : '-1'}) }}"
                       data-toggle="tooltip" data-placement="top" title="Не доволен"><i class="fas fa-thumbs-down"></i></a>
                    <a id="relavance-button" class="btn btn-success"
                       href="{{ path('app_rate_post',{'id': single_news.id, 'type' : "relevance", 'rating' : '1'}) }}"
                       data-toggle="tooltip" data-placement="top" title="Актуально"><i class="fas fa-heart"></i></a>
                    <a id="unrelavance-button" class="btn btn-danger"
                       href="{{ path('app_rate_post',{'id': single_news.id, 'type' : "relevance", 'rating' : '-1'}) }}"
                       data-toggle="tooltip" data-placement="top" title="Не актуально"><i class="fas fa-heart"></i></a>
                    <a id="quality-button" class="btn btn-success"
                       href="{{ path('app_rate_post',{'id': single_news.id, 'type' : "quality", 'rating' : '1'}) }}"
                       data-toggle="tooltip" data-placement="top" title="Качественно"><i class="fas fa-smile"></i></a>
                    <a id="unquality-button" class="btn btn-danger"
                       href="{{ path('app_rate_post',{'id': single_news.id, 'type' : "quality", 'rating' : '-1'}) }}"
                       data-toggle="tooltip" data-placement="top" title="Не качественно"><i
                                class="fas fa-frown"></i></a>
                </div>
            </div>
        </div>


        <div class="pt-4">
            {% set commentForm = comment_form.createView %}
            {{ form_start(commentForm, {'action' : path('app-add-comment', {'id' : single_news.id})}) }}
            {{ form_widget(commentForm) }}
            {{ form_end(commentForm) }}
        </div>

        <div>
            <h5>Комментарии:</h5>
            {% for comment in single_news.comments %}
                <div class="news-comment">
                    <div>
                        <b><a href="{{ path('app_show_profile', {'id': comment.author.id}) }}">{{ comment.author.username }}</a></b>
                    </div>
                    <div class="pb-4">{{ comment.post }}</div>
                </div>

            {% endfor %}
        </div>

    {% endif %}
{% endblock %}